<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav> -->

<!-- main app container -->
<app-menu></app-menu>
  <div class="container-fluid overflow-auto scroll-body" aria-hidden="true">
      <div class="row  justify-content-md-center">
          <div class="col col-lg-9 mt-5">
              <app-alert></app-alert>
              <router-outlet></router-outlet>
          </div>`
      </div>
  </div>
<!-- credits -->
<!-- <app-footer></app-footer> -->