<div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3 mt-5">
        <!-- <h1>Hi {{currentUser.firstName}}!</h1> -->
        <h3>You're logged in!!:</h3>
        <!-- <ul>
      <li *ngFor="let user of users">
          {{user.username}} ({{user.firstName}} {{user.lastName}})
          - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
      </li>
  </ul> -->
        <div class="container">
          <div class="row mt-5">
            <div clas="col">
              <h2>
                <span class="badge">Total Volume Produced</span>
                <span class="badge">1500</span>
              </h2>
            </div>
          </div>
          <div class="row">
            <div clas="col">
              <h2>
                <span class="badge">Total Volume Sold</span>
                <span class="badge">1500</span>
              </h2>
            </div>
          </div>
          <div class="row">
            <div clas="col">
              <h2>
                <span class="badge">Total Volume Purchased</span>
                <span class="badge">1500</span>
              </h2>
            </div>
          </div>
  
        </div>
  
      </div>`
    </div>
  </div>
